#pic img{
    width: 200px;
    height: 100px;
}

.box{
    width: 400px;
    height: 210px;
    padding: 0px;
    text-align: center;
}

#intro h2{
    font-size: 1.2rem;
}

#about{
    padding: 20px;
}
#home{
    height: 600px;
}
.main{
    align-items: center;
    position: absolute;
    top: 55%;
    right: 20%;   
}
.headings{
    font-size: 2.0rem;
}
.navbar ul li{
    font-size: 0.9rem;
}