.box{
    width: 200px;
    height: 400px;
    padding: 0px;
    text-align: center;
}
.main{
    align-items: center;
    position: absolute;
    top: 55%;
    right: 10%;   
}
.bos{
    width: 200px;
    height: 150px;

}
.add{
    font-size: .8rem;
}